body,
html {
    height: 100%;
    background-repeat: no-repeat;
    background: url('https: //img.freepik.com/fotos-premium/fondo-alimentos-nutricion-infantil-saludable-primera-alimentacion-solida-bebe_494619-1885.jpg?w=2000') no-repeat center center fixed;
    background-size: 100% 100%;
}